// General
$background-color: #323232;

$logo-color-1: #fff;
$logo-color-2: #9cafb6;
$logo-color-3: #4ebbe2;
$logo-color-4: #008ccc;

$main-font: 'Roboto Condensed', sans-serif;
$aux-font: 'Ubuntu', sans-serif;

// Social
$github: #201f1f;
$stackoverflow: #f48023;
$facebook: #3b5997;
$twitter: #55acee;
$linkedin: #0077b5;

// Footer
$heart: #f00;
$social-button-size: 35px;
$social-button-background-size: $social-button-size + 5px;
