<header class="main-header">
  <a href="{{ site.baseurl }}" class="logo">
    <img src="{{ site.baseurl }}assets/images/logo-arthur-vasconcelos-horizontal-neg.png" alt="logo">
  </a>

  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}about" {% if page.permalink == "/about/" %}class="active"{% endif %}>About</a></li>
      <li><a href="{{ site.baseurl }}articles" {% if page.permalink == "/articles/" %}class="active"{% endif %}>Articles</a></li>
      <li><a href="{{ site.baseurl }}talks" {% if page.permalink == "/talks/" %}class="active"{% endif %}>Talks</a></li>
      <li><a href="{{ site.baseurl }}vitae" {% if page.permalink == "/vitae/" %}class="active"{% endif %}>Vitae</a></li>
    </ul>
  </nav>
</header>
