.articles-page {
  .articles-page-container {
    @include span-columns(10 of 12);
    @include shift(1);

    .rss-subscribe {
      text-align: right;

      a {
        color: $logo-color-1;
        text-decoration: none;

        i { color: $rss-subscribe;}
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 40px;
      position: relative;

      .post-meta {
        color: $logo-color-1;
        float: right;
        font-size: 15px;
        font-weight: 500;
      }

      .thumb {
        background-position: center;
        background-size: cover;
        border: 4px dotted $logo-color-2;
        float: left;
        height: 125px;
        margin-right: 20px;
        width: 125px;
      }

      h2 a {
        color: $logo-color-1;
        text-decoration: none;
      }
    }
  }
}
