.article-page {
  .article-page-container {
    @include span-columns(10 of 12);
    @include shift(1);

    .article-title {
      color: $logo-color-1;
      font-size: 50px;
      margin: 0 0 5px;
    }

    .article-meta {
      margin-bottom: 30px;
    }

    .article-cover {
      background-position: center;
      background-size: cover;
      height: 335px;
      margin: 30px 0;
      width: 100%;
    }

    .article-content {
      line-height: 25px;

      p {
        margin-top: 25px;
      }
    }

    .article-comments {
      margin-top: 50px;
    }
  }
}
