.home-page {
  .latests-articles {
    @include span-columns(10 of 12);
    @include shift(1);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      @include span-columns(4);
      @include omega(3n);
      position: relative;

      .post-meta {
        background: $logo-color-2;
        border-radius: 10px;
        color: $logo-color-1;
        left: 10px;
        padding: 2px 5px;
        position: absolute;
        top: 10px;
      }

      .thumb {
        background-position: center;
        background-size: cover;
        border: 4px dotted $logo-color-2;
        height: 252px;
        width: 100%;
      }

      h2 a {
        color: $logo-color-1;
        text-decoration: none;
      }

      .post-readmore {
        text-align: right;
      }
    }
  }
}
