---
layout: page
title: Articles
permalink: /articles/
---

<section class="articles-page">
  <div class="articles-page-container">
    <ul class="article-list">
      {% for post in site.posts %}
        <li>
          <div class="thumb" style="background-image: url(
            {% if post.thumb %}
              {{ post.thumb }}
            {% else %}
              {{ site.baseurl }}assets/images/no-image.png
            {% endif %}
          );"></div>

          <h2>
            <a class="post-link" href="{{ post.url }}">{{ post.title | escape }}</a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </h2>

          <p>{{ post.description | escape }}</p>

          <p class="post-readmore links-pattern">
            <a href="{{ post.url }}">read more</a>
          </p>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe"><a href="{{ site.baseurl }}feed.xml"><i class="fa fa-rss" aria-hidden="true"></i> &nbsp; Subscribe</a></p>
  </div>
</section>
