@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:600');

$breakpoints: (
    x-small: 360px,
    small: 414px,
    medium: 720px,
    large: 1024px,
    x-large: 1200px
);

$colors: (
    main: #188dc9,
    sub: #55bbe0,
    fade: #9baeb5,
    dark: #323233,
);

// Intro
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);
