<div id="hotLandingPage">
  <div class="js-vert-centralize">
    <article>
      <h1 data-sr="enter top hustle 50px over 1.5s">Arthur Vasconcelos</h1>
      <h2 data-sr="enter bottom wait 1s">Full-Stack Developer - JavaScript Evangelist - OpenSource Lover</h2>
      <p data-sr="wait 1.3s enter bottom over 1s hustle 50px">
        <span class="call">Hey You!</span>
        I'm Arthur Vasconcelos, a <%- new Date().getFullYear() - 1989 %>-year old nerd living in Rio de Janeiro. I love being a developer and learning new stuff! I currently work at the <em>Department of Public Policy Analysis of Getulio Vargas Foundation</em> but I'm always involved in Open Source or freelance projects in my spare time.
      </p>
      <div class="clearFix"></div>
    </article>

    <aside class="socialbar">
      <ul>
        <li data-sr="wait 0.2s, roll -45deg"><a class="ghCircle" href="https://github.com/arthurvasconcelos" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        <li data-sr="wait 0.6s, roll -45deg"><a class="liCircle" href="https://br.linkedin.com/in/arthurvasconcelos" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li data-sr="roll -45deg"><a class="fbCircle" href="https://www.facebook.com/vasconcelos.arthur" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <!-- <li data-sr="wait 0.4s, roll -45deg"><a class="gpCircle" href="https://plus.google.com/u/0/+ArthurVasconcelos89/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li> -->
        <li data-sr="wait 0.8s, roll -45deg"><a class="twCircle" href="https://twitter.com/jookeringa" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </aside>
  </div>

<!--   <br><br>

  <div data-sr='enter top'> Foo </div>
  <div data-sr='enter left'> Bar </div>
  <div data-sr='enter right'> Bun </div>
  <div data-sr='enter bottom'> Baz </div>

  <div data-sr='move 24px'> Foo </div>

  <div data-sr='over 0.6s'> Foo </div>
  <div data-sr='over 1.3s'> Bar </div>

  <div data-sr='flip 45deg'> Foo </div>
  <div data-sr='flip -90deg'> Bar </div>

  <div data-sr='spin 180deg'> Foo </div>
  <div data-sr='spin -30deg'> Bar </div>

  <div data-sr='roll 15deg'> Foo </div>
  <div data-sr='roll -45deg'> Bar </div>

  <div data-sr='scale 20%'> Baz </div>
  <div data-sr='scale up 20%'> Foo </div>
  <div data-sr='scale down 20%'> Bar </div>

  <div data-sr='wait 0.5s'> Foo </div>

  <div data-sr='reset'> Foo </div>
  <div data-sr='no reset'> Bar </div>

  <div data-sr='vFactor 0.1'> Foo </div>
  <div data-sr='vFactor 0.8'> Bar </div>

  <div data-sr='opacity 0.5'> Foo </div>

  <div data-sr='move 50px'> Foo </div>
  <div data-sr='ease-in 50px'> Bar </div>
  <div data-sr='scale 30%'> Bun </div>
  <div data-sr='hustle 30%'> Baz </div>
  <div data-sr='ease down 20%'> Boo </div>

  <div data-sr='wait 0.2s, scale up 30%'> Foo </div>
  <div data-sr='wait 0.4s, scale up 25%'> Bar </div>
  <div data-sr='wait 0.6s, scale up 20%'> Bun </div>
  <div data-sr='wait 0.8s, scale up 15%'> Baz </div> -->
</div>
