<div id="hotLandingPage">
  <div class="js-vert-centralize">
    <article>
      <h1 data-sr="enter top hustle 50px over 1.5s">Arthur Vasconcelos</h1>
      <h2 data-sr="enter bottom wait 1s">Full-Stack Developer - JavaScript Evangelist - OpenSource Lover</h2>
      <p data-sr="wait 1.3s enter bottom over 1s hustle 50px">
        <span class="call">Hey You!</span>
        I'm Arthur Vasconcelos, a <%- new Date().getFullYear() - 1989 %>-year old nerd living in Rio de Janeiro. I love being a developer and learning new stuff! I currently work at the <em>Department of Public Policy Analysis of Getulio Vargas Foundation</em> but I'm always involved in Open Source or freelance projects in my spare time.
      </p>
      <div class="clearFix"></div>
    </article>

    <aside class="socialbar" data-sr="wait 0.2s, enter bottom over 1s and move 65px">
      <ul>
        <li data-sr="wait 0.6s, roll -45deg"><a class="ghCircle" href="https://github.com/arthurvasconcelos" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        <li data-sr="wait 1s, roll -45deg"><a class="liCircle" href="https://br.linkedin.com/in/arthurvasconcelos" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li data-sr="wait 0.4s, roll -45deg"><a class="fbCircle" href="https://www.facebook.com/vasconcelos.arthur" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <!-- <li data-sr="wait 0.4s, roll -45deg"><a class="gpCircle" href="https://plus.google.com/u/0/+ArthurVasconcelos89/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li> -->
        <li data-sr="wait 0.8s, roll -45deg"><a class="twCircle" href="https://twitter.com/jookeringa" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </aside>
  </div>

  <a href="https://internetdefenseleague.org" class="idlMember" target="_blank"><img src="https://internetdefenseleague.org/images/badges/final/footer_badge.png" alt="Member of The Internet Defense League"/></a>

  <div class="githubHosted">
    Proudly hosted by
    <a href="https://github.com" target="_blank"><img src="assets/images/fixed-gh-logo.png" width="100" height="30" alt="GitHub • Social coding"></a>
  </div>
</div>
