// Layout

.toLeft, .to-left { float:left; }
.toRight, .to-right { float:right; }
.hidden { display: none; }
.placeholder { color: #aaa; }
.no-transiton { @include transition(none !important); }

.clearFix {
  width: auto;
  height: 1px;
  margin: 0;
  padding: 0;
  clear: both;
}
