// Fonts
$primary-font: 'Open Sans', sans-serif;
$open_sans: 'Open Sans', Arial, sans-serif;
$roboto: 'Roboto', Helvetica, sans-serif;

// Colors
$color-1: #030d18; // blue dark
$color-2: #f5484a; // orange
$color-3: #f0eee1; // cream
$color-4: #ffffff; // white
$color-5: #aebcb9; // Tower Gray
$color-6: #0096a7; // Bondi Blue
$color-7: #0d0d0d; // Cod Gray

// EM base
$em-base: 14px;
