// Fonts
$opensans: 'Open Sans', Arial, sans-serif;
$lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ptsans: 'PT Sans', sans-serif;
// $roboto: 'Roboto', Helvetica, sans-serif;

// Colors

$logo-color-1: #4EBBE2; // Light Blue
$logo-color-1: #008CCC; // Darken Blue
$logo-color-1: #FFFFFF; // White
$logo-color-1: #9CAFB6; // Grey

// $color-1: #83b0b9; // Neptune
$color-1: #323232;
// $color-1: #343943; // Tuna
$color-2: #d35657; // Chestnut Rose
$color-3: #343943; // Tuna
$color-4: #e4b162; // Equator

$color-5: #131519; // Woodsmoke
$color-6: #ffffff; // White

$color-h3: #343943;

// Timeline
$tl-main-text: #7f8c97; // main text
$tl-link: #acb7c0; // anchor tags
// $tl-background: #e9f0f5; // body background color
$tl-background: #343943; // body background color

$tl-color-1: #303e49; // blue dark
$tl-color-2: #c03b44; // red
$tl-color-3: #ffffff; // white
$tl-color-4: #75ce66; // green
$tl-color-5: #f0ca45; // yellow

// Main nav size
$nav-width-small: 74px;
$nav-width-normal: 94px;
$loading-bar-width: 4px;

// Animation
$animation-duration: 0.5s;

// Breakpoints
$S: 480px;
$M: 768px;
$L: 1170px;
