<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index, follow">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

    <meta name="application-name" content="Arthur Vasconcelos">

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}assets/images/icon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="16x16" href="{{ site.baseurl }}assets/images/icon-36x36.pngg">
    <link rel="apple-touch-icon" sizes="36x36" href="{{ site.baseurl }}assets/images/icon-48x48.pngg">
    <link rel="apple-touch-icon" sizes="48x48" href="{{ site.baseurl }}assets/images/icon-72x72.pngg">
    <link rel="apple-touch-icon" sizes="96x96" href="{{ site.baseurl }}assets/images/icon-96x96.pngg">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}assets/images/icon-144x144.pngg">
    <link rel="apple-touch-icon" sizes="160x160" href="{{ site.baseurl }}assets/images/icon-160x160.pngg">

    <!-- Google Authorship & Publisher -->
    <link rel="author" href="https://plus.google.com/u/0/+ArthurVasconcelos89"/>
    <link rel="publisher" href="https://arthurvasconcelos.com.br"/>
    <meta name="copyright" content="https://arthurvasconcelos.com.br">

    <!-- Schema.org Google+ -->
    <meta itemprop="name" content="Arthur Vasconcelos">
    <meta itemprop="description" content="{{ site.description }}">
    <meta itemprop="image" content="https://rio.crimeradar.org/assets/images/covers/crimeradar_map_cover.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jookeringa">
    <meta name="twitter:title" content="Arthur Vasconcelos">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:creator" content="@jookeringa">
    <meta name="twitter:image" content="https://rio.crimeradar.org/assets/images/covers/crimeradar_map_cover.png">
    <meta name="twitter:image:alt" content="Arthur Vasconcelos">

    <!-- Open Graph -->
    <meta property="og:url" content="https://rio.crimeradar.org"/>
    <meta property="og:image" content="https://rio.crimeradar.org/assets/images/covers/crimeradar_map_cover.png"/>
    <meta property="og:title" content="Arthur Vasconcelos"/>
    <meta property="og:site_name" content="Arthur Vasconcelos"/>
    <meta property="og:description" content="{{ site.description }}"/>

    <!-- Facebook -->
    <meta property="fb:admins" content="100000267658586" />
    <meta property="fb:app_id" content="344932569170998" />

    {% comment %}
    <link rel="manifest" href="manifest.json">
    {% endcomment %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/main.css" />

    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>

  <body>
    {% include header.html %}

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    {% if jekyll.environment == "production" %}
      <script src="{{ site.baseurl }}assets/js/main.min.js"></script>
    {% else %}
      <script src="{{ site.baseurl }}assets/js/main.js"></script>
    {% endif %}
  </body>
</html>
