---
layout: layout
---

<section class="article-page">
  <div class="article-page-container">
    <article>
      <h1 class="article-title">{{ page.title }}</h1>

      <div class="article-meta">
        <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;
        {{ page.date | date: "%B %e, %Y" }}

        &nbsp;&nbsp;&nbsp;

        <i class="fa fa-at" aria-hidden="true"></i>
        {% for category in page.categories %}
          &nbsp;<a href="{{ site.baseurl }}categories/#{{ category }}">{{ category }}</a>
        {% endfor %}

        &nbsp;&nbsp;&nbsp;

        <i class="fa fa-tags" aria-hidden="true"></i>
        {% for tag in page.tags %}
          &nbsp;<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>

      {% if page.cover %}
        <div class="article-cover" style="background-image: url({{ page.cover }});"></div>
      {% endif %}

      <div class="article-content">
        {{ content }}
      </div>
    </article>

    {% include disqus.html %}
  </div>
</section>
