<header class="main-header">
  <a href="{{ site.baseurl }}" class="logo">
    <img src="{{ site.baseurl }}assets/images/logo-arthur-vasconcelos-horizontal-neg.png" alt="logo">
  </a>

  <nav>
    <ul>
      {% assign activePage = page.url | replace: "/", " " | truncatewords: 1, "" %}
      <li><a href="{{ site.baseurl }}about" {% if activePage == "about" %}class="active"{% endif %}>About</a></li>
      <li><a href="{{ site.baseurl }}articles" {% if activePage == 'articles' %}class="active"{% endif %}>Articles</a></li>
      <li><a href="{{ site.baseurl }}talks" {% if activePage == "talks" %}class="active"{% endif %}>Talks</a></li>
      <li><a href="{{ site.baseurl }}vitae" {% if activePage == "vitae" %}class="active"{% endif %}>Vitae</a></li>
    </ul>
  </nav>
</header>
