#hotLandingPage {
  @include span-columns(12);
  background: #323232;
  position: relative;

  .idlMember {
    position: fixed;
    left: 15px;
    bottom: 15px;

    img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      // filter: url(../images/grayscale.svg); /* Firefox 4+ */
      // filter: gray; /* IE 6-9 */

      @include transition(all 1s ease-in-out);
    }

    &:hover {
      img {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
      }
    }
  }

  .githubHosted {
    @include renderFont($lineHeight:1.5em);
    position: fixed;
    right: 15px;
    bottom: 15px;

    a {
      color: #ffffff;

      img {
        max-width: 100%;
        border: 0;
        display: inline-block;
        position: relative;
        top: 8px;
        margin-left: 5px;
        opacity: .8;
        padding: 1px;
        @include transition(opacity .5s ease-in-out);
      }

      &:hover {
        img { opacity: 1; }
      }
    }
  }

  .js-vert-centralize {
    @include span-columns(6 of 12);
    @include shift(3);
    position: absolute;
    top: 50%;
    // left: 50%;

    @include media(min-width 320px max-width 480px, 6) {
      @include span-columns(10 of 12);
      @include shift(1);
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding: 0;

    @include media(min-width 320px max-width 480px, 6) {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 16.5px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 17px;
    color: #F8F8F8;
    line-height: 25px;
    @include span-columns(4 of 6);
    @include shift(1);
    margin-top: 50px;
    margin-bottom: 50px;

    .call {
      display: block;
      text-transform: uppercase;
      font-size: 22px;
    }
  }

  .socialbar {
    background: #FFFFFF;
    // border: 1.5px solid #000;
    border-radius: 30px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.6);

    ul {
      list-style: none;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin-right: 10px;

        &:last-child { margin-right: 0; }
      }
    }
  }
}




