#wrapper {
  height: 100vh;
  overflow: hidden;
}

.containerSection {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-left: $nav-width-small - $loading-bar-width;

  /* Force Hardware Acceleration */
  @include backface-visibility(hidden);
  @include transform(translateZ(0));

  @include transform(translateX(-100%));
  @include transition(transform 0s $animation-duration);

  &.overflow-hidden {
    /* this class is used to hide the scrolling bar while a new section is entering the viewport */
    overflow: hidden;
  }

  header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: $color-1;
    overflow: hidden;

    .idlMember {
      display: none;
      position: absolute;
      right: 15px;
      top: 10px;

      img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        // filter: url(../images/grayscale.svg); /* Firefox 4+ */
        // filter: gray; /* IE 6-9 */

        @include transition(all 1s ease-in-out);
      }

      &:hover {
        img {
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          -o-filter: none;
          filter: none;
        }
      }
    }

    .githubHosted {
      display: none;
      @include renderFont($lineHeight:1.5em);
      color: #ddd;
      position: absolute;
      right: 15px;
      bottom: 15px;

      a {
        color: #ffffff;

        img {
          max-width: 100%;
          border: 0;
          display: inline-block;
          position: relative;
          top: 8px;
          margin-left: 5px;
          opacity: .8;
          padding: 1px;
          @include transition(opacity .5s ease-in-out);
        }

        &:hover {
          img { opacity: 1; }
        }
      }
    }
  }

  &.blog header { background-color: $color-2; }
  &.projects header { background-color: $color-3; }
  &.portfolio header { background-color: $color-4; }
  &.talks header { background-color: $color-5; }

  .scrollToContent {
    /* this is the arrow at the bottom of the header */
    display: block;
    position: absolute;
    bottom: 60px;
    @include calc(left, "50vw - (#{$nav-width-small} - #{$loading-bar-width})/2");
    width: 44px;
    height: 44px;

    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    visibility: hidden;
    @include transition(transform 0s $animation-duration, visibility 0s $animation-duration);

    @include transform(translateX(-50%) scale(0));
    background: url('../images/cd-icon-arrow.svg') no-repeat center center;
  }

  &.visible {
    /* this is the visible/selected section */
    position: relative;
    z-index: 2;
    -webkit-overflow-scrolling: touch;

    @include transform(translateX(0));
    @include transition(transform $animation-duration 0s);

    .scrollToContent {
      visibility: visible;

      @include transform(translateX(-50%) scale(1));
      @include transition(transform 0.3s $animation-duration, visibility 0s 0s);

      @include animation(scrollToContent-down 1.2s $animation-duration + 0.4s);
      @include animation-iteration-count(2);
    }
  }

  @include MQ(S) {
    padding-left: $nav-width-normal - $loading-bar-width;

    header {
      .idlMember, .githubHosted { display: block; }
    }

    .scrollToContent {
      @include calc(left, "50vw - (#{$nav-width-normal} - #{$loading-bar-width})/2");
    }
  }
}

@include keyframes(scrollToContent-down) {
  0% {
    @include transform(translateX(-50%) scale(1));
  }

  50% {
    @include transform(translateY(10px) translateX(-50%) scale(1));
  }

  100% {
    @include transform(translateX(-50%) scale(1));
  }
}

.sectionHeaderContent {
  position: absolute;
  top: 50%;
  left: 0;
  /* this prevents title from jumping when the section scroll bar is visible */
  width: calc(100vw - 90px);
  padding: 1em;
  color: $color-6;
  text-align: center;

  /* Force Hardware Acceleration */
  @include backface-visibility(hidden);
  @include transform(translateZ(0));

  opacity: 0;
  @include transform(translateY(-50%) translateX(-80px));
  @include transition(transform 0s $animation-duration, opacity 0s $animation-duration);

  h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  span {
    font-size: 1.2rem;
    opacity: 0.6;
  }

  .visible & {
    opacity: 1;
    @include transform(translateY(-50%));
    @include transition(transform 0.4s $animation-duration - 0.2s, opacity 0.4s $animation-duration - 0.2s);
  }

  &.index {
    top: 40%;

    img {
      width: 15rem;
    }

    h2 {
      font-size: 2rem;
      text-align: left;
      width: 95%;
      max-width: 800px;
      margin-top: 3rem;
      margin-right: auto;
      margin-left: auto;

      .icon-hand-spock-o {
        font-size: 1rem;
      }
    }

    p {
      font-size: 1.2rem;
      text-align: left;
      width: 95%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    span {
      font-size: 1.1rem;
      display: block;
      margin-top: 3rem;

      a {
        color: $color-6;

        &:not(:last-child):after {
          content:'\2219';
          vertical-align: middle;
          padding: 0 10px;
          display: table-cell;
        }
      }
    }
  }

  @include MQ(M) {
    h2 {
      font-size: 5rem;
      margin-bottom: 20px;
    }

    span {
      font-size: 1.6rem;
    }

    &.index {
      top: 45%;

      img {
        width: 35rem;
      }

      h2 {
        font-size: 3.5rem;
        width: 50%;
        margin-top: 6rem;

        .icon-hand-spock-o {
          font-size: 1.8rem;
        }
      }

      p {
        font-size: 2rem;
        width: 50%;
      }

      span {
        font-size: 1.6rem;
        margin-top: 6rem;

        a {
          &:not(:last-child):after {
            padding: 0 15px;
          }
        }
      }
    }
  }
}

.sectionContent {
  padding: 2em 0;
  background-color: darken($color-6, 8%);

  h3 {
    width: 90%;
    max-width: $M;
    border-bottom: 3px solid $color-h3;
    position: relative;
    padding: 0 0 1rem 0;
    margin: 1rem auto;

    &.noMarginBottom { margin-bottom: 0; }
  }

  p {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 2em;
    font-size: 1.4rem;
    line-height: 1.6;
    color: darken($color-6, 40%);
  }

  @keyframes load{0%{stroke-dashoffset:0}}
  .skillList {
    text-align: center;
    position: relative;
    display: block;
    width: 90%;
    max-width: 800px;
    padding: 0;
    margin: 0 auto 2em;

    &>li {
      display: inline-block;
      position: relative;
      text-align: center;
      color: #93A2AC;
      font-family: $lato;
      font-weight:100;
      margin: 2rem;

      &:before {
        content: attr(data-name);
        position: absolute;
        width: 100%;
        bottom: -2rem;
        font-size: 1.2rem;
        font-weight: 400;
      }

      &:after {
        content: attr(data-percent);
        position: absolute;
        width: 100%;
        top: 3.2rem;
        left: 0;
        font-size: 1.6rem;
        text-align: center;
      }
    }

    svg {
      width: 8rem;
      height: 8rem;

      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(-90deg);
      }

      &:nth-child(2) path {
        fill: none;
        stroke-width: 25;
        stroke-dasharray: 629;
        stroke: darken($color-6, 8%);;
        opacity:.9;
        // animation: load 10s;
      }

      &.animate {
        &:nth-child(2) path {
          animation: load 10s;
        }
      }
    }
  }

  @include MQ(M) {
    padding: 4em 0;

    p {
      font-size: 1.6rem;
    }

    .skillList {
      &>li {
        &:before { font-size: 1.6rem; }

        &:after {
          top: 3.7rem;
          font-size: 2rem;
        }
      }

      svg {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

/*
 * Loading Bar
 */

#loadingBar {
  position: fixed;
  z-index: 2;
  left: $nav-width-small - $loading-bar-width;
  width: $loading-bar-width;
  visibility: hidden;

  /* Force Hardware Acceleration */
  @include backface-visibility(hidden);
  @include transform(translateZ(0));

  &.index {
    background-color: $color-1;
  }

  &.blog {
    background-color: $color-2;
  }

  &.projects {
    background-color: $color-3;
  }

  &.portfolio {
    background-color: $color-4;
  }

  &.talks {
    background-color: $color-5;
  }

  &.loading {
    visibility: visible;
  }

  @include MQ(S) {
    left: $nav-width-normal - $loading-bar-width;
  }
}

/*
 * Timeline
 */

.cd-container {
  width: 90%;
  max-width: $L;
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin: {
    top: 2em;
    bottom: 2em;
  }

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($tl-background, 5%);
  }

  &.noMarginTop { margin-top: 0; }

  @include MQ(M) {
    margin: {
      top: 3em;
      bottom: 3em;
    }

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include MQ(L) {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // box-shadow: 0 0 0 4px $tl-color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#F00, .05) ;
  box-shadow: 0 0 0 4px $color-h3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#F00, .05) ;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &.cd-picture {
    background: $tl-color-4;
  }

  &.cd-movie {
    background: $tl-color-2;
  }

  &.cd-location {
    background: $tl-color-5;
  }

  &.experience {
    background: $tl-color-3;
  }

  @include MQ(M) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;

    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-1 .6s);
    }
  }
}

@include keyframes(cd-bounce-1) {
  0% {
    opacity: 0;
    @include transform(scale(.5));
  }

  60% {
    opacity: 1;
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: $tl-color-3;
  @include border-radius;
  padding: 1em;
  box-shadow: 0 3px 0 darken($tl-background, 5%);
  @include clearfix;

  h2 {
    color: $tl-color-1;
  }

  p, .cd-read-more, .cd-date {
    @include font-size(13px);
  }

  .cd-read-more, .cd-date {
    display: inline-block;
  }

  p {
    margin: 1em 0;
    line-height: 1.6;
  }

  .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: $tl-link;
    color: $tl-color-3;
    @include border-radius;

    .no-touch &:hover {
      background-color: lighten($tl-link, 5%);
    }
  }

  .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $tl-color-3;
  }

  // @include MQ(M) {
  //   h2 {
  //     @include font-size(20px);
  //   }

  //   p {
  //     @include font-size(16px);
  //   }

  //   .cd-read-more, .cd-date {
  //     @include font-size(14px);
  //   }
  // }

  @include MQ(M) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: $tl-color-3;
    }

    p {
      font-size: 2rem;
      //margin: 1em 0;
      //line-height: 1.6;
    }

    .cd-read-more {
      float: left;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 1.5rem;
    }

    .cd-timeline-block:nth-child(even) & {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $tl-color-3;
      }

      .cd-read-more {
        float: right;
      }

      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-2 .6s);
    }
  }
}

@include MQ(M) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    @include animation(cd-bounce-2-inverse .6s);
  }
}

@include keyframes(cd-bounce-2) {
  0% {
    opacity: 0;
    @include transform(translateX(-100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(20px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(cd-bounce-2-inverse) {
  0% {
    opacity: 0;
    @include transform(translateX(100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(-20px));
  }

  100% {
    @include transform(translateX(0));
  }
}
